set -o vi

# add paths
export PATH=$PATH:~/go/bin

# local utility functions 
_have()      { type "$1" &>/dev/null; }
_source_if() { [[ -r "$1" ]] && source "$1"; }

# source different files
_source_if "$HOME/.config/bash/alias"
_source_if "$HOME/.config/bash/cd"
_source_if "$HOME/.config/bash/completion"
_source_if "$HOME/.config/bash/fzf"
_source_if "$HOME/.config/bash/history"

# theming
{{ if eq .chezmoi.os "darwin" }}
test -r ~/.config/bash/dir_colors && eval $(gdircolors ~/.config/bash/dir_colors)
{{end}}
{{ if eq .chezmoi.os "windows" }}
test -r ~/.config/bash/dir_colors && eval $(dircolors -b ~/.config/bash/dir_colors)
{{end}}

# oh-my-posh
_have oh-my-posh && eval "$(oh-my-posh init bash  --config ~/.config/omp/config.yaml)"

# "bat" as manpager
export MANPAGER="sh -c 'col -bx | bat --theme=Nord -l man -p'"
export XDG_CONFIG_HOME="$HOME/.config"
export EDITOR="nvim"

### SHOPT
shopt -s autocd # change to named directory
shopt -s cdspell # autocorrects cd misspellings
shopt -s cmdhist # save multi-line commands in history as single line
shopt -s dotglob
shopt -s histappend # do not overwrite history
shopt -s checkwinsize # checks term size when bash regains control
shopt -s globstar
shopt -s dotglob

stty stop undef # disable control-s accidental terminal stops
