{{ if eq .chezmoi.os "darwin" }}
set -g default-shell /usr/local/bin/bash
{{end}}

# this needs to be set in order to work properly with alacritty
set -g default-terminal "screen-256color"
set -ag terminal-overrides ",screen-256color:RGB"

# manual tmux settings must be set befor loading the theme
set-option -g status-position top
# loading temux nord theme
run-shell "~/.config/tmux/nord-tmux-master/nord.tmux"
set-option -g status-right "#{prefix_highlight}#[fg=brightblack,bg=black,nobold,noitalics,nounderscore]#[fg=white,bg=brightblack] %Y-%m-%d #[fg=white,bg=brightblack,nobold,noitalics,nounderscore]#[fg=white,bg=brightblack] %H:%M #[fg=cyan,bg=brightblack,nobold,noitalics,nounderscore]"

