import = ["/Users/eike/.config/alacritty/gruvbox_dark.toml"]
{{ if eq .chezmoi.hostname "MacBook-Air-von-Anne"}}
shell = {program = "/opt/homebrew/bin/bash", args = ["--login", "-c", "tmux attach || tmux"]}
{{else}}
shell = {program = "/usr/local/bin/bash", args = ["--login", "-c", "tmux attach || tmux"]}
{{end}}
[env]
TERM = "screen-256color"

[font]
size = 16.0

[font.bold]
family = "JetBrainsMono Nerd Font"
style = "Bold"

[font.bold_italic]
family = "JetBrainsMono Nerd Font"
style = "Bold Italic"

[font.italic]
family = "JetBrainsMono Nerd Font"
style = "Italic"

[font.normal]
family = "JetBrainsMono Nerd Font"
style = "Regular"

[[keyboard.bindings]]
chars = "{"
key = 28
mods = "Alt"

[[keyboard.bindings]]
chars = "}"
key = 25
mods = "Alt"

[[keyboard.bindings]]
chars = "@"
key = 37
mods = "Alt"

[[keyboard.bindings]]
chars = '\'
key = 26
mods = "Alt|Shift"

[[keyboard.bindings]]
chars = "|"
key = 26
mods = "Alt"

[[keyboard.bindings]]
chars = "~"
key = 45
mods = "Alt"

[[keyboard.bindings]]
chars = "["
key = 23
mods = "Alt"

[[keyboard.bindings]]
chars = "]"
key = 22
mods = "Alt"

[[keyboard.bindings]]
chars = "\""
key = 19
mods = "Shift"

[[keyboard.bindings]]
chars = "\u0002c"
key = "T"
mods = "Command"

[[keyboard.bindings]]
chars = "\u00020"
key = "Key1"
mods = "Command"

[[keyboard.bindings]]
chars = "\u00021"
key = "Key2"
mods = "Command"

[[keyboard.bindings]]
chars = "\u00022"
key = "Key3"
mods = "Command"

[[keyboard.bindings]]
chars = "\u00023"
key = "Key4"
mods = "Command"

[[keyboard.bindings]]
chars = "\u00024"
key = "Key5"
mods = "Command"

[[keyboard.bindings]]
chars = "\u00025"
key = "Key6"
mods = "Command"

[[keyboard.bindings]]
chars = "\u00026"
key = "Key7"
mods = "Command"

[[keyboard.bindings]]
chars = "\u00027"
key = "Key8"
mods = "Command"

[[keyboard.bindings]]
chars = "\u00028"
key = "Key9"
mods = "Command"

[[keyboard.bindings]]
chars = "\u0002d"
key = "Q"
mods = "Command"

[[keyboard.bindings]]
chars = "\u0002x"
key = "W"
mods = "Command"

[[keyboard.bindings]]
chars = "\u0002,"
key = "R"
mods = "Command"

[[keyboard.bindings]]
chars = "\u0002n"
key = "K"
mods = "Command"

[[keyboard.bindings]]
chars = "\u0002p"
key = "J"
mods = "Command"

[scrolling]
history = 10000

# [shell]
# alt_send_esc = false
# args = ["--login", "-c", "tmux attach || tmux"]
# program = "/usr/local/bin/bash"

[window]
decorations = "buttonless"
startup_mode = "Fullscreen"

[window.padding]
x = 8
y = 8
