{{ if eq .chezmoi.os "darwin" }}
_source_if "/usr/local/opt/fzf/shell/key-bindings.bash"
_source_if "/usr/local/opt/fzf/shell/completion.bash"
{{ end }}
# arcticicestudio/nord-vim
export FZF_DEFAULT_OPTS='--color=bg+:#3B4252,spinner:#81A1C1,hl:#616E88,fg:#D8DEE9,header:#616E88,info:#81A1C1,pointer:#81A1C1,marker:#81A1C1,fg+:#D8DEE9,prompt:#81A1C1,hl+:#81A1C1'
# this workaround is needed so fzf uses the above colors.
# it does not seem to work with tmuxes TERM=screen-256color
alias fzf="TERM=screen fzf"
